<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="main_flex">
    <div class="w-full lg:w-2/3 xl:w-2/3 h-auto">
      <.live_component module={HeroComponent} id="hero" content={@content} />
    </div>
  </div>
</div>
